html {
    scroll-padding-top: 80px;
}

body {
    margin-top: 0px;
    background-color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio_title {
    font-family: "Hiragino Sans", sans-serif;
    font-weight: 800;
    font-size: 5.8vh;
    text-decoration: none;
    color: black;
}
/* カルーセルメイン部分 */
.cut_carousel {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    flex-shrink: 0;
    scroll-snap-type: x mandatory;
    position: relative;
}

.cut_carousel::-webkit-scrollbar {
    display: none;
}

.cut_slidebtn_area {
    position: absolute;
    bottom: 2vh;
    width: 66vh;
}

.cut_carousel .circlecut_whole {
    margin: 0px;
    width: 70vh;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow-x: hidden;
    object-fit: cover;
    scroll-snap-align: center;
    flex-shrink: 0;
    opacity: 0.5;
    filter: grayscale(1);
}

.circlecut_num {
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: 16vh;
    height: 16vh;
    background-color: white;
}

.circlecut_name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2vh;
    left: 20vh;
    width: 48vh;
    height: 16vh;
    background-color: white;
}

.circlecut_space {
    position: absolute;
    top: 20vh;
    left: 2vh;
    width: 66vh;
    height: 78vh;
    background-color: white;
}
.circlecut_space p{
    font-size: 2.5vh;
}
.circlecut_space h2{
    line-height: 4vh;
    font-weight: 800;
    font-size: 4vh;
}
.circlecut_space h3{
    font-size: 3.5vh;
}
.circlecut_space .text_subtitle{
    line-height: 1;
    font-weight: 400;
    font-size: 3vh;
}
.circlecut_space .circlecut_text{
    position: relative;
    z-index: 1;
}
.circlecut_space .circlecut_illust{
    position: absolute;
    top: 0vh;
    left: 0vh;
    width: 66vh;
    height: 78vh;
    z-index: 0;
}
.circlecut_illust img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.circlecut_icon{
    margin: 0 auto;
    right: auto;
    width: 35vh;
    height: 35vh;
}
.circlecut_icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1.5px #404040;
}

/* UI設置エリアの設定*/
.ui_area {
    height: 96vh;
    width: 96vh;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.slidenav_area {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 66vh;
    bottom: 0px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
}

.slidenav_content {
    font-family: "Hiragino Sans", sans-serif;
    text-decoration: none;
    font-size: 4vh;
    font-weight: 400;
    color: rgb(111, 111, 111);
}

.slidenav_content:hover {
    color: black;
    font-weight: 500;
}

.slidenav_active {
    color: black;
    font-weight: 600;
}

.slidenav_active:hover {
    color: black;
    font-weight: 600;
}

.btnarea_left {
    position: absolute;
    height: 100%;
    width: 13vh;
    left: 0;
    z-index: 2;
}

.btnarea_right {
    position: absolute;
    height: 100%;
    width: 13vh;
    right: 0;
    z-index: 2;
}

.btn_shift {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.btn_shift:hover {
    opacity: 0.8;
}

.arrow {
    position: relative;
    display: inline-block;
}

.arrow::before {
    content: "";
    width: 4vh;
    height: 4vh;
    border-top: solid 1vh black;
    border-left: solid 1vh black;
    position: absolute;
}

.arrow_left {
    top: 48vh;
    left: -1vh;
}

.arrow_right {
    top: 48vh;
    left: 1vh;
}

.arrow.arrow_left::before {
    transform-origin: top left;
    transform: rotate(-45deg);
}

.arrow.arrow_right::before {
    transform-origin: top left;
    transform: rotate(135deg);
}
/* 各コンテンツ内要素調整 */
.icon_area{
    width: 8vh;
    height: 8vh;
}
.icon_area i{
    font-size: 8vh;
}
.text_small{
    font-size: 2vh;
}
.icon_enum i{
    font-size: 4vh;
}
.toolname_long{
    height: 3.5vh;
    font-size: 2.5vh;
}
.card_product{
    height: 30vh;
    width: 60vh;
}
.card img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.card h2{
    font-size: 2.5vh;
    font-weight: 600;
}
.card-title a{
    text-decoration: none;
    color: black;
}
.card-title a:hover{
    text-decoration: underline;
}
.card .card_bottom{
    position: absolute;
    line-height: 3vh;
    height: auto;
    bottom: 2px;
}
.card .card-link{
    font-size: 2vh;
}
span.oval_border {
    font-size: 1.5vh;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
}

@media (max-width: 96vh){
    .ui_area{
        width: 70vh;
        height: 96vh;
    }
}
@media (max-width: 70vh){
    .portfolio_title{
        font-size: 8.1vw;
    }
    .cut_carousel .circlecut_whole{
        width: 98vw;
        height: 140vw;
    }
    .circlecut_num{
        top: 2.8vw;
        left: 2.8vw;
        width: 22.4vw;
        height: 22.4vw;
    }
    .circlecut_name{
        top: 2.8vw;
        left: 28vw;
        width: 67.2vw;
        height: 22.4vw;
    }
    .circlecut_space{
        top: 28vw;
        left: 2.8vw;
        width: 92.4vw;
        height: 109.2vw;
    }
    .circlecut_space p{
        font-size: 3.5vw;
    }
    .circlecut_space h2{
        line-height: 5.6vw;
        font-size: 5.6vw
    }
    .circlecut_space h3{
        font-size: 4.9vw;
    }
    .circlecut_space .text_subtitle{
        font-size: 4.2vw;
    }
    .circlecut_space .circlecut_illust {
        position: absolute;
        top: 0vh;
        left: 0vh;
        width: 92.4vw;
        height: 109.2vw;
        z-index: 0;
    }
    .circlecut_icon {
        margin: 0 auto;
        right: auto;
        width: 49vw;
        height: 49vw;
    }
    .ui_area{
        height: 109.2vw;
        width: 92.4vw;
        top: 28vw;
        bottom: auto;
    }
    .slidenav_area{
        width: 92.4vw;
    }
    .slidenav_content{
        font-size: 5.6vw;
    }
    .btnarea_left{
        width: 14vw;
    }
    .btnarea_right{
        width: 14vw;
    }
    .btn_shift{
        opacity: 0.3;
    }
    .btn_shift:hover{
        opacity: 0.6;
    }
    .arrow::before{
        width: 5vw;
        height: 5vw;
        border-top: solid 1vw;
        border-left: solid 1vw;
    }
    .arrow_left{
        top: 48vw;
        left: -1vw;
    }
    .arrow_right{
        top: 48vw;
        left: 1vh;
    }
    /* 各コンテンツ内要素調整 */
    .icon_area {
        width: 11.2vw;
        height: 11.2vw;
    }
    
    .icon_area i {
        font-size: 11.2vw;
    }
    
    .text_small {
        font-size: 2.8vw;
    }
    
    .icon_enum i {
        font-size: 5.6vw;
    }
    
    .toolname_long {
        height: 4.9vw;
        font-size: 3.5vw;
    }
    
    .card_product {
        height: 42vw;
        width: 84vw;
    }
    
    .card img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .card h2 {
        font-size: 3.2vw;
        font-weight: 600;
    }
    
    .card .card_bottom {
        position: absolute;
        height: auto;
        line-height: 4.2vw;
        bottom: 2px;
    }
    .card .card-link{
        font-weight: 2.8vw;
    }
    
    span.oval_border {
        display: inline-block;
        font-size: 2.1vw;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        padding-right: 3px;
        padding-left: 3px;
        border: solid 1px black;
        border-radius: 12px;
        background-color: white;
        line-height: 2vw;
    }
    
}